<!DOCTYPE html>
<html lang="en">
<head>
	<title>Leaderboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/lead.css' %} ">
</head>

<body>
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="Group-2-copy" >

                <div class="col-md-4">
                    
                    <div class="Rectangle-1-copy">
                        
                        <div class="Rounded-Rectangle-1">
                
                            <div class="row">
                                <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum@3x.jpg 3x" style="left:9.65vw;top:2.35vh;height: 5.31vh;width: 2.98vw;position: absolute;" class="img-circle">

                                <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10@3x.jpg 3x" class="Shape-10">

                                <div class="layer-1">{{ usr_obj.badges }}</div>
                            </div>

                            <div>
                                <p class="Welcome-Andrea" style="left:6.31vw;top:9.17vh;position: absolute;">Welcome {{ usr_obj.username}}!</p>
                            </div>

                            <div class="row">
                                <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19@3x.jpg 3x" class="Shape-19">
                                <div>
                                    <p class="-Badges-earned">{{ usr_obj.badges }} Badges earned</p>
                                </div>
                            </div>
                
                            <div class="row">
                                <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-20.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-20@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-20@3x.jpg 3x" class="Shape-20">
                                <div>
                                    <p class="Good-start-43-questions-answered">Good start! 43 questions answered.</p>
                                </div>
                            </div>

                            <div class="row">
                                <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-21.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-21@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-21@3x.jpg 3x" class="Shape-21">
                                <div>
                                    <p class="Participated-in-8-discussions">Participated in 8 discussions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-8" >
                    <div class="Rectangle-1-copy-4" >
                        <div>
                            <p class="Leaderboard" >Leaderboard</p>
                        </div>
                        
                        <a href="">
                            <img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-22.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-22@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-22@3x.jpg 3x" class="Shape-22">
                        </a>
                            
                        <div>
                            <p class="TOP-5">TOP-5</p>
                        </div>
                        {% block content %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>